.ui-view.root-container {
    width: 100%;
    height: 100%;
    position: fixed;
    box-sizing: border-box;
}

body {
    margin: 0;
    
     font-family: sans-serif;
     
}

.ui-view>.ui-template {
    display: inline;
}

.ui-view>.ui-template>.template-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.ui-view.bottom-detail>.ui-template>.template-content {
    flex-direction: row;
}

.ui-view {
    flex-grow: 1;
}

.ui-view.top-detail {
    flex-grow: 0;

}

.ui-view {
    border: 1px solid lightgrey;
    margin: 1px;
    padding: 2px;
    border-radius: 2px;
}



/*Menu*/

span.ui-navigation-menu ul {display: inline-block;white-space: nowrap;}

span.ui-navigation-menu ul li {
    display: inline;
}

span.ui-navigation-menu ul li button {
    margin: 5px;
    height: 40px;
    padding: 0 30px;
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 2px;
    color: #555555;
    font-size: 20px;
        font-weight: 200;
}

span.ui-navigation-menu label {
    display: none;
}