.ui-view.root-container {
    width: 100%;
    height: 100%;
    position: fixed;
    box-sizing: border-box;
    overflow: scroll;
}

body {
    margin: 0;
    
     font-family: sans-serif;
     
}

.ui-view>.ui-template {
    display: inline;
}

.ui-view.flex-layout>.ui-template>.template-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.ui-view.bottom-detail>.ui-template>.template-content {
    flex-direction: row;
}

.ui-view.bottom-detail>.ui-template>.template-content>.ui-view {
    min-height: 300px;
}


.ui-view.bottom-detail>.ui-template>.template-content>.ui-view {
    min-height: 300px;
    min-width: 200px;
}

.ui-view.left-detail {
    width: 60%;
    padding-left: 40px;
}

.ui-view.right-detail {
    padding-right: 40px;
}



.ui-view {
    flex-grow: 1;
}

.ui-view.top-detail {
    flex-grow: 0;

}


/*Menu*/

span.ui-navigation-menu ul {display: inline-block;white-space: nowrap;}

span.ui-navigation-menu ul li {
    display: inline;
}

span.ui-navigation-menu ul li button {
    margin: 5px;
    height: 40px;
    padding: 0 30px;
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 2px;
    color: #555555;
    font-size: 20px;
        font-weight: 200;
}

span.ui-navigation-menu label {
    display: none;
}

.ui-view.feed-item, .ui-view.pinned-item, .ui-view.user-detail-item {
    min-height: 40px;
    border: 1px solid rgba(0,0,0,0.3);
    box-shadow: 0 0 2px rgba(0,0,0,0.1);
    margin: 5px;
}

.ui-view.user-detail{
    margin-bottom: 15px;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    padding-bottom: 15px;
}


.feed-item-label {
    display: inline-block;
    text-indent: 10px;
    line-height: 30px;
    font-size: 16px;
    font-weight: 100;
}

.feed-item-actions {
    display: inline-block;
    float: right;
    margin: 5px;
}

.feed-item-tags {
    text-align: center;

}
.btn-tag {
    border: 1px solid rgba(0,0,0,0.3);
    border-radius: 2px;
    margin: 2px;
    color: #555555;
    text-transform: capitalize;
}

.ui-view.feed-item>.ui-template>.template-content {
    display: block;
}


.ui-view.feed-item-expanded-detail {
    height: 0;
    overflow: hidden;
    opacity: 0;
    transition: height 0.2s, opacity 0.5s;
}

.active.feed-item .ui-view.feed-item-expanded-detail {
    background-color: rgba(0,0,0,0.1);
    height: 300px;
    position: relative;
    transition: height 0.5s, opacity 0.5s;
    opacity: 1.0;
    overflow: visible;
}




.ui-view.feed-item-expanded-detail {
    text-align: center;
    vertical-align: middle;
    line-height: 300px;
    font-size: 16px;
    font-weight: 100;
    color: #333333;
}

.user-detail .active.feed-item .ui-view.feed-item-expanded-detail {
    line-height: 20px;
    height: auto;
}


.ui-view.feed-item-expanded-detail:after {
    content: "";
    position: absolute;
    width: 7px;
    height: 100%;
    background: rgba(0,0,0,0.5);
    z-index: 1;
    left: -7px;
    top: 0;
}

.feed-item-icon, .section-item-icon {
    width: 40px;
    height: 40px;
    display: inline-block;
    background: rgba(0,0,0,0.1);
    margin: 6px;
    float: left;
    border-radius: 100%;
    position:relative;
}

.section-item-icon {
    width: 20px;
    height: 20px;
}
.section-item-icon .field-label {
    position: absolute;
    left: calc( 100% + 10px );
    white-space: nowrap;
    top: calc( 50% - 6px );
}


.empty-pinned-item.field-value-module {
    border: 1px dashed rgba(0,0,0,0.3);
    box-shadow: 0 0 4px rgba(0,0,0,0.2);
    margin: 5px;
    padding: 10px;
}



.calendar {
    border-left: 1px solid rgba(0,0,0,0.1);
    margin-left: 15px;
    padding-left: 15px;
}