@charset "utf-8";


<?php 
IncludeExternalCSS('https://fonts.googleapis.com/css?family=Roboto+Slab'); 
?>


body {
    margin: 0;
    
     font-family: 'Roboto Slab', serif;
     
}

.intro-text{
    text-align: center;
    
}
.intro-text p{
    
        max-width: 500px;
    width: calc( 100% - 20px );
    display: inline-block;
    padding: 20px;
    background: rgba(0,0,0,0.05);
    border-radius: 3px;
    margin-top: 30px;
}

.edit-widget-btns {
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 1;
}

.ui-view.thin-layout-item .static-map{
    display:none;
}

.static-map {
    background-position: center;
    position: absolute;
    height: 124px;
    width: 100%;
    background-size: 100%;
    left: 0;
        top: 0;
    opacity: 0.4;
    z-index: -1;
}
.static-map:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(white, rgba(0,0,0,0));
}
.active .static-map {
    position: relative;
    border-bottom: 1px solid #cccccc;
    border-top: 1px solid #cccccc;
    opacity: 1;
}
.active .static-map:after {
    display:none;
}

.ui-view.event-feed-item{
    z-index:1;
}

span.ui-navigation-menu ul.site li {
    display: block;
}

span.ui-navigation-menu ul.site button {
    border:none;
}

.ui-view.footer-detail {
    text-align: center;
    min-height: 100px;
    padding: 100px 0;
}



span.ui-navigation-menu ul li.menu-main-calendar, 
    span.ui-navigation-menu ul li.menu-main-archive, 
    /*span.ui-navigation-menu ul li.menu-main-feeditems, */
    span.ui-navigation-menu ul li.menu-main-tags, 
    span.ui-navigation-menu ul li.menu-main-date,
    span.ui-navigation-menu ul li.menu-main-pinned,
    span.ui-navigation-menu ul li.menu-main-single,
    span.ui-navigation-menu ul li.menu-main-about,
    span.ui-navigation-menu ul li.menu-main-contact{
        display: none;
}
span.ui-navigation-menu ul li.menu-main-feeditems{
    
}

h1.site-logo {
    position: relative;
    top: 0;
    left: 0;
    background-size: auto 80%;
    background-position: 20px center;
    background-repeat: no-repeat;
    display: inline-block;
    padding: 10px;
    padding-left: 132px;
    line-height: 104px;
    margin: 0;
    font-weight: 100;
    font-size: 50px;
    text-transform: capitalize;
    
    z-index: 1;
    color: white;
    text-shadow: 0 0 4px rgba(0,0,0,0.3);
}
.header-detail{
   background-color: #252525;
}

.header-detail{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
    box-shadow: 0 0 4px #252525;
}
.header-detail + * {
    margin-top: 124px;
}

ul.header-menu {
    text-align: center;
    display: inline;
    position: relative;
}

ul.header-menu li {
    display: inline;
    color: white;
    padding: 5px 10px;
    font-size: 16px;
    cursor:pointer;
}

.ui-view.root-container {
    width: 100%;
    height: 100%;
    position: fixed;
    box-sizing: border-box;
    overflow: scroll;
}


.ui-view>.ui-template {
    display: inline;
}

.ui-view.flex-layout>.ui-template>.template-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.ui-view.main-view>.ui-template>.template-content {
    flex-direction: row;
    text-align: center;
}

.ui-view.main-view>.ui-template>.template-content>.ui-view {
    min-height: 300px;
}


.ui-view.main-view>.ui-template>.template-content>.ui-view {
    min-height: 300px;
    min-width: 200px;
}

.ui-view.main-view {
    background-color: rgba(0,0,0,0.05);
    padding-top: 40px;
    text-align:center;
}

.ui-view.main-view>div {
    max-width: 1700px;
    margin: auto;
    display: inline-block;
    text-align: left;
    width: 100%;
}


.ui-view.main-content-detail {
    width: 60%;
    max-width: 900px;
    text-align: left;
    margin:auto;
}
.ui-view.feed-item-list{
    max-width: 900px;
    text-align: left;
    margin:auto;
}

.ui-view.feed-item-bottom-detail {
    height: 40px;
    background-color: rgba(0,0,0,0.06);
    margin-left: -40px;
    line-height: 40px;
    padding-left: 50px;
        text-align: right;
    padding-right: 10px;
}

.ui-view.right-detail {
    padding-right: 40px;
}



.ui-view {
    flex-grow: 1;
}

.ui-view.top-detail {
    flex-grow: 0;

}

.ui-view.pinned-items {
    flex-grow: 0;
}

.ui-view.archived-items {
    flex-grow: 0;
}

/*Menu*/

span.ui-navigation-menu ul {display: inline-block;white-space: nowrap;}

span.ui-navigation-menu ul li {
    display: inline;
}



span.ui-navigation-menu .site {
    margin-right: 10px;
}

span.ui-navigation-menu ul.menu-main li button, .tag-cloud .btn-tag {
    margin: 5px;
    height: 40px;
    padding: 0 30px;
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 2px;
    color: #555555;
    font-size: 1em;
    font-weight: 200;
}

span.ui-navigation-menu .menu-main {
    display: block;
    text-align: center;
    position: relative;
    padding: 40px;

}

.no-banner ul.menu-main {
    width: 100%;
    left:-145px;
    
}

span.ui-navigation-menu .menu-main li {
    display: inline-block;
    margin: 5px;
    height: 40px;
    padding: 0 30px;
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 2px;
    color: #555555;
    font-size: 20px;
    font-weight: 200;
    background-color: white;
    height: 110px;
    position: relative;
    z-index: 1;
    padding-top: 20px;
    box-sizing: border-box;
    white-space: normal;
    width: 220px;
    vertical-align: top;
}
span.ui-navigation-menu .menu-main li>label {
    color: #999999;
    font-weight: 100;
    font-size: 0.6em;
    text-align: left;
    display: inline-block;
}

span.ui-navigation-menu ul.menu-main li:after {
    content: "";
    width: 60px;
    height: 60px;
    position: absolute;
    background-color: #00d8ff;
    top: -30px;
    left: calc( 50% - 30px );
    border-radius: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50%;
}

span.ui-navigation-menu ul.menu-main li button {
    border: none;
    background: transparent;
    display: block;
    width: 100%;
    margin: 10px 0 0 0;
    outline:none;
}

span.ui-navigation-menu .menu-main li, 
span.ui-navigation-menu .menu-main li>label,
span.ui-navigation-menu .menu-main li button{
    cursor:pointer;
}

span.ui-navigation-menu ul>label {
    display: none;
}

.ui-view.feed-item, .ui-view.thin-layout-item, .ui-view.user-detail-item {
    min-height: 80px;
    border: 1px solid rgba(0,0,0,0.3);
    box-shadow: 0 0 2px rgba(0,0,0,0.1);
    margin: 5px;
}

.expandable.feed-item {
    cursor: pointer;
}
.expandable.feed-item:hover {
    box-shadow: 0 0 4px rgba(0,0,0,0.2);
}
active.expandable.feed-item:hover {
    box-shadow: 0 0 2px rgba(0,0,0,0.1);
}
.active.expandable.feed-item {
    cursor: default;
}



.ui-view.thin-layout-item, .ui-view.archived-item {
    height: 30px;
    min-height: 30px;
}


.field-value-module.feed-item-short-desc {
    display: none;
}

.feed-item-list .field-value-module.feed-item-short-desc{
    display:block;
    margin-top: 20px;
    height: 30px;
    text-indent: 10px;
    
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: calc( 100% - 40px );
}


.ui-view.thin-layout-item .btn-action, .ui-view.archived-item .btn-action, 
.ui-view.thin-layout-item .feed-item-short-desc, .ui-view.archived-item .feed-item-short-desc{
    display:none;
}
.ui-view.thin-layout-item.active .btn-action, .ui-view.archived-item.active .btn-action{
    display:inline-block;
}
.ui-view.thin-layout-item.active .feed-item-short-desc, .ui-view.archived-item.active .feed-item-short-desc{
    display:block;
}

.ui-view.thin-layout-item.active, .ui-view.archived-item.active {
    height: auto;
}

.ui-view.thin-layout-item .feed-item-icon, .ui-view.archived-item .feed-item-icon{
    height: 19px;
    width: 19px;
}

.ui-view.thin-layout-item .feed-item-tags, .ui-view.archived-item .feed-item-tags{
    display:none
}

.ui-view.thin-layout-item .feed-item-actions, .ui-view.archived-item .feed-item-actions{
    margin: 3px;
    margin-right: 5px;
}

.btn-action {
    cursor:pointer;
}
.ui-view.feed-item .btn-action.action-delete {
    background-color: rgba(0,0,0,0.1);
    margin-left: 25px;
}


.ui-view.user-detail{
    margin-bottom: 15px;
    padding-bottom: 15px;
    height: 110px;
    flex-grow:0;
}


.main-content-detail .ui-view.user-detail {
    position: absolute;
    width: 200px;
    left: 0;
}

.main-content-detail .ui-view.user-detail .user-icon, 
.main-content-detail .ui-view.user-detail .feed-item-label, 
.main-content-detail .ui-view.user-detail .feed-item-actions, 
.main-content-detail .ui-view.user-detail .html-content {
   display:none;
}

.main-content-detail .ui-view.user-detail .form-btn{
    margin-left:20px;
    position:relative;
}


.main-content-detail .ui-view.user-detail .form-btn:before {
    content: "";
    width: 25px;
    height: 25px;
    position: absolute;
    left: -20px;
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center;
    top: -1px;
}

.main-content-detail .ui-view.user-detail .form-btn.action-event:after, 
.main-content-detail .ui-view.user-detail .form-btn.action-project:after {
    content: "+";
    position: absolute;
    left: 2px;
    top: 4px;
    color: #1f53f5;
}

.main-content-detail .myprofile-feed-item .feed-item-icon {
    position: relative;
    top: -30px;
    left: 24px;
}


.ui-view.user-detail.top-right {
    position: absolute;
    top: 25px;
    right: 0;
    border-bottom: none;
    width: 330px;
    z-index: 1;
    overflow: hidden;
}

.ui-view.user-detail.top-right .field-value-module.feed-item-label {
    position: absolute;
    top: 25px;
    left: 84px;
    width: 100%;
    white-space: nowrap;
    color:white;
}

.ui-view.myprofile-feed-item .btn-action.action-logout:before, .ui-view.myprofile-feed-item .btn-action.action-edit:before, .ui-view.myprofile-feed-item .btn-action.action-login:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    background-color: white;
    top: 0;
    left: 0;
    z-index: -1;
}



.ui-view.user-detail.top-right .feed-item-icon.user-icon {
    height: 60px;
    width: 60px;
    margin: 0;
    border: 2px solid black;
    box-shadow: 0 0 6px rgba(255,255,255,0.6);
    top: -3px;
}

.ui-view.user-detail.top-right button.btn-action {
    right: 130px;
    color:white;
}

.ui-view.user-detail.top-right .ui-view.feed-item-expanded-detail {
    display: none;
}

.ui-view.user-detail.top-right .ui-view.feed-item-bottom-detail, 
.thin-layout-item .ui-view.feed-item-bottom-detail,
.connection-form .ui-view.feed-item-bottom-detail
{
    display: none;
}


.feed-item-label {
    display: inline-block;
    text-indent: 10px;
    line-height: 30px;
    font-size: 16px;
    font-weight: 100;
    position: relative;
    top: 10px;
}


.feed-item-label {
    
    max-width: calc( 100% - 75px );
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.ui-view.user-detail.top-right .field-value-module.count-posts {
    left: 40px;
    top: 40px;
    position: absolute;
    width: 20px;
    display: inline-block;
    color: black;
    overflow: visible;
}

.ui-view.thin-layout-item .feed-item-label, .ui-view.archived-item .feed-item-label{
    top: 0;
}

.feed-item-actions {
    display: inline-block;
    float: right;
    margin: 5px;
}



.WizardButton {
    list-style: none;
    display: inline-block;
}

.btn-tag, .form-btn, .WizardButton, .t-btn, .uilist-pageination button{
    border: 1px solid rgba(0,0,0,0.3);
    border-radius: 2px;
    margin: 2px;
    color: #555555;
    text-transform: capitalize;
    padding: 2px 7px;
    cursor:pointer;
}

.uilist-pageination button {
    background-color: #1f54f5;
    color: #eeeeee;
    margin-left: 5px;
}
.uilist-pageination:after {
    content: attr(data-list-count);
    color: #1f54f5;
}

.form-btn, .WizardButton {
    background-color: #1f54f5;
    color: #eeeeee;
}

.form-btn:hover, .WizardButton:hover {
    color: white;
}

.alert-view .field-value-module, .confirm-view .field-value-module {
    font-size: 20px;
    font-weight: 100;
    whitespace:nowrap;
}

.alert-view .btn.cancel {
    display: none;
}



.form-nav .btn {
    padding: 5px 10px;
    float: right;
    margin-top:24px;
     margin-bottom:24px;
}

.ui-view.feed-item>.ui-template>.template-content {
    display: block;
}


.ui-view.feed-item-expanded-detail {
    height: 0;
    overflow: hidden;
    opacity: 0;
    transition: height 0.2s, opacity 0.5s;
}

.active.feed-item .ui-view.feed-item-expanded-detail {
    background-color: rgba(0,0,0,0.1);
    min-height: 300px;
    position: relative;
    transition: height 0.5s, opacity 0.5s;
    opacity: 1.0;
    overflow: visible;
    display: inline-table;
}

.ui-view.feed-item-expanded-detail {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}


.ui-view.feed-item-expanded-detail {
    text-align: center;
    vertical-align: middle;
    
    font-size: 16px;
    font-weight: 100;
    color: #333333;
}

.user-detail .active.feed-item .ui-view.feed-item-expanded-detail {
    text-align:left;
    height: auto;
}


.active.myprofile-feed-item .ui-view.feed-item-expanded-detail {
    text-align: right;
    background-color: transparent;
}

.myprofile-feed-item .ui-view.feed-item-expanded-detail button {
    padding: 5px 10px;
    border: none;
    background-color: transparent;
    color: #555555;
    top: -20px;
}


.btn-tag:hover, .form-btn:hover, .WizardButton:hover, span.ui-navigation-menu .menu-main li:hover {
    box-shadow: 0 0 3px rgba(0,0,0,0.3);
}

.myprofile-feed-item .ui-view.feed-item-expanded-detail button:hover {
   box-shadow: none;
   color:#1f54f5;
}

.myprofile-feed-item .ui-view.feed-item-expanded-detail:after{
    content:none;
    
}

.ui-view.feed-item {
    background-color: white;
}

.user-detail .ui-view.myprofile-feed-item {
    border: none;
    box-shadow: none;
    border-left: none;
    background-color: transparent;
}


.ui-view.feed-item-expanded-detail:after {
    content: "";
    position: absolute;
    width: 7px;
    height: 100%;
    background: rgba(0,0,0,0.5);
    z-index: 1;
    left: -7px;
    top: 0;
}

.array-module.feed-item-list {
    
    /*single, pinned, and archive view detail*/
    
    width: 100%;
    max-width: 1200px;
    margin: auto;
}



.feed-item-list .ui-view.feed-item {
    border-left-width:40px;
}

.feed-item-list .ui-view.feed-item-expanded-detail:after {
    width:40px;
    left:-40px;
}

.feed-item-list button.btn-action.action-pin, .feed-item-list button.btn-action.action-archive,
.feed-item-list button.btn-action.action-unpin, .feed-item-list button.btn-action.action-unarchive{
    position: absolute;
    left: -33px;
    top: 10px;
}
.feed-item-list button.btn-action.action-archive,
.feed-item-list button.btn-action.action-unarchive{
    top: 46px;
}

.feed-item-icon, .section-item-icon {
    width: 40px;
    height: 40px;
    display: inline-block;
    background: rgba(0,0,0,0.1);
    margin: 6px;
    float: left;
    border-radius: 100%;
    position:relative;
}

.section-item-icon {
    width: 20px;
    height: 20px;
}
.section-item-icon .field-label {
    position: absolute;
    left: calc( 100% + 10px );
    white-space: nowrap;
    top: calc( 50% - 6px );
}


.empty-thin-layout-item.field-value-module {
    border: 1px dashed rgba(0,0,0,0.3);
    box-shadow: 0 0 4px rgba(0,0,0,0.2);
    margin: 5px;
    padding: 10px;
}

.feed-item-list .thin-layout-item.feed-item {
    border-left-width: 7px;
}



.calendar {
    border-left: 1px solid rgba(0,0,0,0.1);
    margin-left: 15px;
    padding-left: 15px;
}

.ui-view.feed-item.expandable .feed-item-actions {
    margin-right: 50px;
}

button.btn-action.action-focus {
    padding: 0;
    width: 0;
}


.ui-view.feed-item.expandable.active .action-focus:after {
    transform: rotate(180deg);
    transition: transform 1.5s;
}


.ui-view.feed-item.expandable .action-focus:after {
    content: "▼";
    color: #666666;
    height: 20px;
    width: 20px;
    display: inline-block;
    text-align: center;
    line-height: 24px;
    border-radius: 100%;
    vertical-align: top;
    margin: 2px;
    background: rgba(0,0,0,0.1);
    position: absolute;
    right: 4px;
    transition: transform 0.5s;
}


.feed-item.inset-layout-item {
    margin-left: 45px;
}

.feed-item.inset-layout-item:after {
    content: "↳";
    color: #6495ed;
    height: 20px;
    width: 20px;
    position: absolute;
    left: -35px;
    top: 6px;
}

.feed-item.parent-layout-item {
    
}

.feed-item.parent-layout-item:after {
    content: "⤴";
    position: absolute;
    left: -20px;
    bottom: -15px;
    color: #6495ed;
    transform: rotate(135deg);
}


.sso-btn {
    display: inline-block;
    margin: 5px;
    vertical-align: top;
}


.add-photo .text-input {
    display: none;
}


.feed-item-icon.user-icon {
    background-size: cover;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
}


.item-author .feed-item-icon.user-icon {
    display: inline-block;
    float: none;
    height: 18px;
    width: 18px;
    vertical-align: bottom;
        background-image: url("https://cuhub.geolive.ca/components/com_geolive/users_files/user_files_528/Uploads/f7_[ImAgE]_tO1_OlO_[G].png?tint=rgb(112, 128, 144)");
}

.feed-item-icon>.feed-item-icon {float: none;left: 100%;top: -6px;background-color: transparent;}

.feed-item-icon.user-icon.connection-icon {
    margin-right: 40px;
}



span.item-connection-to {
    color: #577f57;
}
span.item-connection-to:before {
    content: " to";
}



span.item-author{
    z-index: 1;
    position: relative;
    cursor: pointer;
}

span.item-author:hover {
    color: #47515a;
}

span.item-author:before {
    content: " created by";
}
.post-author span.item-author:before {
    display: "none";
}
span.item-author, 
span.date-from-now, 
span.item-connection-to:before, 
span.event-date-from-now, 
.ui-post-view .date-from-now,
.ui-post-view .post-author
{
    color: slategrey;
    font-style: italic;
    font-size: 13px;
}

.ui-post-view .date-from-now,
.ui-post-view .post-author{
    text-align: right;
}

.ui-post-view .date-from-now .field-label,
.ui-post-view .post-author .field-label{
    margin-right: 5px;
}

span.event-date-from-now {
    color: #b03b3c;
}

.ui-view.myprofile-feed-item .btn-action{
    position:relative;
    right: 85px;
}
.ui-view.myprofile-feed-item .btn-action.action-edit:after {
    content: "Edit Your Profile";
    position: absolute;
    white-space: nowrap;
    top: 2px;
    left: 25px;
}
.ui-view.myprofile-feed-item .btn-action.action-logout:after {
    content: "Log Out";
    position: absolute;
    white-space: nowrap;
    top: 2px;
    right: 25px;
}
.ui-view.myprofile-feed-item .btn-action.action-login:after {
    content: "Log In";
    position: absolute;
    white-space: nowrap;
    top: 2px;
    right: 25px;
}



.connection-feed-items-list .feed-item-actions {
    display: none;
}
.connection-feed-items-list .feed-item-tags {
    display: none;
}
.connection-feed-items-list{
    margin-bottom:15px
}
.connection-feed-items-list>.ui-view{
    background-color: rgba(0,0,0,0.1);
    margin: 5px 0;
    border-radius: 3px;
    height: 50px;
}

button.clear-filter.form-btn {
    width: 100px;
}



.feed-item-list .active .ui-view.feed-item-expanded-detail {
    text-align: left;
    padding: 24px;
}

span.noIcon {
    width: 25px;
    height: 25px;
    display: inline-block;
    float: right;
    background-size: 68%;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 0 0 3px rgba(0,0,0,0.4);
    border: 1px solid #1f54f5;
    margin: 3px;
    border-radius: 100%;
    margin-top: 15px;
}

.ToolbarBottom {
    height: 35px;
    margin: 10px 0;
}

.ToolbarBottom .droppable {
    height: 35px;
}


body.dragover .empty.droppable:after, .empty.droppable:after {
    content: "drag files here...";
    line-height: 35px;
    color: cornflowerblue;
    font-style: italic;
    top: 0;
}


body.dragover .add-photo .empty.droppable:after, .add-photo .empty.droppable:after {
    content: "drag photo here...";
}

.no-media .ToolbarBottom, .no-media .media-bar {
    display: none;
}

.form-btn.action-user {
    color: #666666;
}

.form-btn.action-user:hover {
    color: black;
}


.add-photo span.noIcon {
    display: none;
}

.add-photo span.noIcon.image {
    display: inline-block;
}


.uitext-container.col-2 {
    width: calc( 50% - 10px );
    display: inline-block;
}






.module-wizard.project-form:after, .module-wizard.event-form:after, .module-wizard.connection-form:after, .module-wizard.request-form:after, .module-wizard.profile-form:after {
    content: "";
    width: 100px;
    height: 100px;
    position: absolute;
    background-color: white;
    display: inline-block;
    border-radius:100%;
    top: -60px;
    z-index: 1;
    left: calc( 50% - 52px );
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%;
}

.module-wizard.project-form:before, .module-wizard.event-form:before, .module-wizard.connection-form:before, .module-wizard.request-form:before, .module-wizard.profile-form:before {
    content: "";
    position: absolute;
    top: -1px;
    left: 0;
    height: 28px;
    width: 100%;
    z-index: 1;
}



.media-item {
    display: inline-block;
    position: relative;
}

.media-item span.remove-btn {
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: white;
    box-shadow: 0 0 3px rgba(0,0,0,0.1);
    display: inline-block;
    border: 1px solid rgba(0,0,0,0.6);
    border-radius: 100%;
    line-height: 10px;
    top: -6px;
    right: -7px;
    cursor: pointer;
}

.media-item span.remove-btn:after {
    content: "+";
    position: absolute;
    height: 100%;
    width: 100%;
    text-align: center;
    top: 0;
    left: 0;
    line-height: 13px;
    color: #555555;
    transform: rotate(45deg);
    font-size: 20px;
}

.media-item span.remove-btn:hover {
    border-color: black;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
}



.calendar span.events {
    position:absolute;
    display: inline-block;
    width: 100%;
    bottom: 0px;
    left: 0;
    text-align: center;
}

.calendar span.events .event-data {
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: rgba(0,0,0,0.5);
    margin:1px;
    border-radius:100%;
}

.event-feed-item .feed-item-icon:after {
    content: attr(data-event-day);
    position: absolute;
    top: 16px;
    left: 10px;
    width: 20px;
    text-align: center;
    display: inline-block;
}



.discussion .posts.empty:after {
    line-height: 100px;
}

.discussion .posts.empty {
    min-height: 100px;
}

.ui-post-view {
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.1);
    margin: 2px;
    border-radius: 3px;
}


input.discussion-textbox, input.search-input {
    height: 30px;
    line-height: 10px;
    padding: 5px 15px;
    font-size: 14px;
    font-weight: 100;
    border-radius: 3px;
    border: 1px solid rgba(0,0,0,0.3);
    width: calc(100% - 150px);
    box-shadow: 0 0 3px rgba(0,0,0,0.2) inset;
}
input.discussion-textbox {
    width: calc( 100% - 220px );
}

.discussion>.toolbar-icons {
    top: calc( 100% - 51px );
}

.discussion>.toolbar-icons button {
    vertical-align: top;
    height: 42px;
    margin: 0 3px;
    padding: 0 14px;
}


.count-posts .field-value {
 
    width: 20px;
    display: inline-block;
    text-align: center;
    text-indent: 0;
    height: 16px;
    vertical-align: middle;
    line-height: 16px;
    font-size: 11px;
    border-radius: 10px;
    background-size: 100% auto;
    background-position: center;
  
}

.connection-feed-items-list .feed-item-expanded-detail{
    display:none;
}



.field-value-module.link-to-item:before {
    content: "";
    width: 20px;
    height: 20px;
    position: absolute;
    left: -33px;
    background-size: 60% auto;
    margin: 2px;
    background-position: center;
    background-repeat: no-repeat;
    bottom: 10px;
    z-index: 2;
}

.field-value-module.link-to-item:after {
    content: "";
    width: 20px;
    height: 20px;
    background-size: 60% auto;
    background-position: center;
    background-repeat: no-repeat;
    display:inline-block;
    vertical-align: bottom;
    margin-left: 5px;
}


.search-bar-content {
    margin: 40px 0;
}

input.search-input {
    width: calc(100% - 200px);
    border-color: rgba(0,0,0,0.3);
    z-index: 2;
    border-radius: 1px;
}
input.search-input:focus {
    box-shadow: 0 0 3px rgba(0,0,0,0.2) inset, 0 0 3px rgba(6, 134, 180, 0.5);
    outline: none;
    border-color: rgb(6, 134, 180);
}


.search-bar-btn.search {
    display: inline-block;
    width: 80px;
    text-align: right;
    padding-right: 10px;
    box-sizing: border-box;
    color: #252525;
    font-size: 20px;
    font-weight: 200;
}


.tag-cloud {
    margin: 20px 0;
    text-align: center;
}

.tag-cloud .btn-tag {
    display: inline-block;
    background: rgba(0,0,0,0.1);
}

.tag-cloud .btn-tag.active {
    background-color: white;
}



.search-container {
    position: relative;
}


.search-result-list span.result-clickable {
    height: auto;
    background-color: #e0e0e0;
}

.search-container .search-result-list:before {
    position: fixed;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,0.4);
    content: "";
    left: 0;
    top: 0;
    z-index: -1;
}


.discussion>.toolbar-icons button.add_attachment {
    position: relative;
}


.main-content-detail .ui-view.user-detail .form-btn.action-connection {
    display: none;
}


label.item-type-label {
    position: absolute;
    right: 10px;
    top: 5px;
    text-transform: capitalize;
    color: #cecece;
    font-size: 50px;
    font-weight: 100;
}


ul.ShareLinksModule{
    float:right;
}

.share-links img {
    vertical-align:middle;
}


li.menu-main-feeditems:after {
    display: none;
}

span.ui-navigation-menu .menu-main li button.menu-main-feeditems {
    display: none;
}

span.ui-navigation-menu .menu-main li.menu-main-feeditems{
    height: 50px;
   /* margin-top: 65px;*/
    padding-top: 10px;
    background-color: #1f54f5;
    border: 1px solid rgba(0,0,0,0.3);
    box-shadow: 0 0 3px rgba(0,0,0,0.3);
    width: 170px;

}
span.ui-navigation-menu .menu-main li.menu-main-feeditems.active{
    background-color:transparent;
    box-shadow: 0 0 3px rgba(255,255,255,0.3);
}

span.ui-navigation-menu .menu-main li.menu-main-feeditems label{
    color:white;
}
span.ui-navigation-menu .menu-main li.menu-main-feeditems.active label{
    color:grey  ;
}



.left-detail .tag-cloud-container {
    margin-top: 10px;
    display: inline-block;
}


.ui-view.left-detail {
    float: left;
    display: inline-block;
    width: 0;
    height: 0;
    position: relative;
    z-index:1;
}

.ui-view.left-detail>div {
    display: inline-block;
    width: 200px;
    margin: 20px;
}


.ui-view.right-detail {
    float: right;
    display: inline-block;
    width: 0;
    height: 0;
    position: relative;
    z-index:1;
}

.ui-view.right-detail>div {
    display: inline-block;
    width: 200px;
    margin: 20px;
    
    
    position: absolute;
    left: -200px;    
    
    
}

.right-detail .share-links {
    position: absolute;
    top: 150px;
    right:60px;
}
.right-detail .share-links li{
    display:block;
    margin-bottom:10px;
}