<?php 

    $ui=GetWidget('interfaceConfig');

?>

.ui-view.feed-item {
    border-left: 7px solid #00d8ff;
}

.ui-view.connection-feed-item {
    border-left-color: <?php echo $ui->getParameter('color-for-connection');?>;
}

.ui-view.profile-feed-item {
    border-left-color: <?php echo $ui->getParameter('color-for-profile');?>;
}

.ui-view.project-feed-item {
    border-left-color: <?php echo $ui->getParameter('color-for-project');?>;
}






span.ui-navigation-menu ul li>button {
    border-left: 3px solid #00d8ff;
}



span.ui-navigation-menu ul li.menu-main-connections>button {
    border-left-color: <?php echo $ui->getParameter('color-for-connection');?>;
}

span.ui-navigation-menu ul li.menu-main-profiles>button {
    border-left-color: <?php echo $ui->getParameter('color-for-profile');?>;
}

span.ui-navigation-menu ul li.menu-main-projects>button {
    border-left-color: #<?php echo $ui->getParameter('color-for-project');?>;
}



.btn-action {
    border: none;
    border-radius: 100%;
    margin: 2px;
    background-color: #00d8ff;
    height: 20px;
    width: 20px;
    opacity: 0.3;
}


.ui-view.connection-feed-item .btn-action{
    background-color: <?php echo $ui->getParameter('color-for-connection');?>;
}

.ui-view.profile-feed-item .btn-action{
    background-color: <?php echo $ui->getParameter('color-for-profile');?>;
}

.ui-view.project-feed-item .btn-action{
   background-color: <?php echo $ui->getParameter('color-for-project');?>;
}