@charset "utf-8";


<?php 
IncludeExternalCSS('https://fonts.googleapis.com/css?family=Roboto+Slab'); 
?>


body {
    margin: 0;
    
     font-family: 'Roboto Slab', serif;
     
}


.popover>.tip, .bubble{
    background-color:#252525;
    
}

div.tip-title, .bubble>.title{
    font-size:16px;
    text-align:left;
}

.popover.arrow_top .tip:before {
    border-bottom: 10px solid #252525;
}
.popover.arrow_bottom .tip:before {
    border-top: 10px solid #252525;
}
.popover.arrow_right .tip:before {
    border-left: 10px solid #252525;
}
.popover.arrow_left .tip:before {
    border-right:10px solid #252525; 
}


.popover.onblack>.tip, .bubble{
    background-color:white;
    color:black;
    text-shadow:none;
    box-shadow:0 0 3px rgba(0,0,0,0.5)
}

.popover.onblack.arrow_top .tip:before {
    border-bottom: 10px solid white;
}
.popover.onblack.arrow_bottom .tip:before {
    border-top: 10px solid white;
}
.popover.onblack.arrow_right .tip:before {
    border-left: 10px solid white;
}
.popover.onblack.arrow_left .tip:before {
    border-right:10px solid white; 
}

.intro-text{
    text-align: center;
    
}

.intro-text.hidden {
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s;
}

.intro-text p{
    
    width: calc( 100% - 20px );
    display: inline-block;
    background: rgba(0,0,0,0.05);
    border-radius: 3px;
    margin-top: 30px;
    color: slategray;
    padding: 10px;
    max-width: 600px;
        margin-bottom: 30px;
}

.ui-template-form button.menu-main-feeditems.create-new {
    margin: 10px;
    width: 200px;
    height: 50px;
    background-color: #6591ef;
    border-radius: 2px;
    border: 1px solid rgba(0,0,0,0.3);
    box-shadow: 0 0 3px rgba(0,0,0,0.3);
    padding: 10px;
    color: black;
    font-size: 16px;
    margin-right: 70px;
    cursor:pointer;
    margin-bottom: 75px;
}

.ui-template-form .ui-navigation-menu li label {
    position: absolute;
    left:0;
    top: calc( 100% + 20px );
    width: 200px;
    white-space: pre-wrap;
    color: slategray;
    font-weight: 100;
    text-align: left;
    display: inline-block;
    padding: 0 10px;
}
.ui-template-form .ui-navigation-menu li{
    position:relative;
}

.ui-template-form button.menu-main-feeditems.create-new:hover {
        box-shadow: 0 0 6px rgba(0,0,0,0.6);
}

button.menu-main-feeditems.create-new.new-event {
    background-color: rgba(176, 59, 59, 1);
}
button.menu-main-feeditems.create-new.new-project {
    background-color: rgba(232, 137, 0, 1);
}

.edit-widget-btns {
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 1;
}

.ui-view.thin-layout-item .static-map{
    display:none;
}

.static-map {
    background-position: center;
    position: absolute;
    height: 124px;
    width: 100%;
    background-size: 100%;
    left: 0;
        top: 0;
    opacity: 0.4;
    z-index: -1;
}

.static-map.no-location {
    height: 55px;
}

.static-map:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(white, rgba(0,0,0,0));
}
.active .static-map {
    position: relative;
    border-bottom: 1px solid #cccccc;
    border-top: 1px solid #cccccc;
    opacity: 1;
    z-index:1;
}

.static-map a.map-location, .static-map p.event-time{
    display:none;
}
.active .static-map a.map-location, .active .static-map p.event-time {
    text-shadow: 1px 1px 2px white;
    margin-left: 10px;
    display: inline-block;
    background-color: rgba(255,255,255,0.3);
    padding: 4px 10px;
    border-radius: 3px;
    position: relative;
    z-index: 10;
    cursor: pointer;
    font-size: 16px;
    font-weight: 100;
}


.active .static-map:after {
    display:none;
}

.ui-view.event-feed-item{
    z-index:1;
}

span.ui-navigation-menu ul.site li {
    display: block;
}

span.ui-navigation-menu ul.site button {
    border:none;
}

.ui-view.footer-detail {
    text-align: center;
    min-height: 100px;
    padding: 100px 0;
        background-color: rgba(0,0,0,0.05);
}

.ui-view.footer-detail .array-module {
    padding: 10px;
    max-width: 600px;
    width: calc( 100% - 20px );
    display: inline-block;
    background-color: white;
    border-radius: 3px;
}

span.ui-navigation-menu ul li.hidden {
    display: none;
}


h1.site-logo {
    position: relative;
    top: 0;
    left: 0;
    background-size: auto 80%;
    background-position: 20px center;
    background-repeat: no-repeat;
    display: inline-block;
    padding: 10px;
    padding-left: 132px;
    line-height: 104px;
    margin: 0;
    font-weight: 100;
    font-size: 50px;
    text-transform: capitalize;
    
    z-index: 1;
    color: white;
    text-shadow: 0 0 4px rgba(0,0,0,0.3);
}
.header-detail{
   background-color: #252525;
}

.header-detail{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
    box-shadow: 0 0 4px #252525;
}
.header-detail + * {
    margin-top: 124px;
}

ul.header-menu {
    text-align: center;
    display: inline;
    position: relative;
}

ul.header-menu li {
    display: inline;
    color: white;
    padding: 5px 10px;
    font-size: 16px;
    cursor:pointer;
}

.ui-view.root-container {
    width: 100%;
    height: 100%;
    position: fixed;
    box-sizing: border-box;
    overflow: scroll;
}


.ui-view>.ui-template {
    display: inline;
}

.ui-view.flex-layout>.ui-template>.template-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.ui-view.main-view>.ui-template>.template-content {
    flex-direction: row;
    text-align: center;
}

.ui-view.main-view>.ui-template>.template-content>.ui-view {
    min-height: 300px;
}


.ui-view.main-view>.ui-template>.template-content>.ui-view {
    min-height: 300px;
    min-width: 200px;
}

.ui-view.main-view {
    background-color: rgba(0,0,0,0.05);
    padding-top: 40px;
    text-align:center;
}

.ui-view.main-view>div {
    max-width: 1700px;
    margin: auto;
    display: inline-block;
    text-align: left;
    width: 100%;
}


.ui-view.main-content-detail {
    width: 60%;
    max-width: 900px;
    text-align: left;
    margin:auto;
    margin-bottom: 70px;
}
.ui-view.feed-item-list{
    max-width: 900px;
    text-align: left;
}

.ui-view.feed-item-bottom-detail {
    height: 40px;
    background-color: rgba(0,0,0,0.06);
    margin-left: -40px;
    line-height: 40px;
    padding-left: 50px;
        text-align: right;
    padding-right: 10px;
}

.ui-view.right-detail {
    padding-right: 40px;
}



.ui-view {
    flex-grow: 1;
}

.ui-view.top-detail {
    flex-grow: 0;

}

.ui-view.pinned-items {
    flex-grow: 0;
}

.ui-view.archived-items {
    flex-grow: 0;
}

/*Menu*/

span.ui-navigation-menu ul {display: inline-block;white-space: nowrap;}

span.ui-navigation-menu ul li {
    display: inline;
}


ul.menu-main.no-vert-pad.expand {
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
}


span.ui-navigation-menu .site {
    margin-right: 10px;
}

span.ui-navigation-menu ul.menu-main li button, .tag-cloud .btn-tag {
    margin: 5px;
    height: 40px;
   /*padding: 0 30px;*/
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 2px;
    color: #555555;
    font-size: 1em;
    font-weight: 200;
}

span.ui-navigation-menu .menu-main {
    display: block;
    text-align: center;
    position: relative;
    padding: 40px;

}

.no-banner ul.menu-main {
    width: 100%;
}

span.ui-navigation-menu .menu-main li {
    display: block;
    margin: 5px;

    background-color: white;
   
    border-radius: 2px;
    color: #555555;
    font-size: 20px;
    font-weight: 200;
    background-color: white;
    height: 110px;
    position: relative;
    z-index: 1;
 
    box-sizing: border-box;
    white-space: normal;
    width: 200px;
    vertical-align: top;
    
     height: 50px;
        padding:0;
        border: 1px solid rgba(0,0,0,0.3);
        box-shadow: 0 0 3px rgba(0,0,0,0.3);
        
            margin-bottom: 55px;
}

span.ui-navigation-menu ul li.menu-main-feeditems {
    margin-bottom: 20px;
}

span.ui-navigation-menu .menu-main li>label {
    color: #999999;
    font-weight: 100;
    font-size: 0.6em;
    text-align: left;
    display: inline-block;
}

span.ui-navigation-menu ul.menu-main li:after {
    content: "";
    width: 60px;
    height: 60px;
    position: absolute;
    background-color: #00d8ff;
    top: -30px;
    left: calc( 50% - 30px );
    border-radius: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50%;
}

span.ui-navigation-menu ul.menu-main li button {
    border: none;
    background: transparent;
    display: block;
    width: 100%;
    /*margin: 10px 0 0 0;*/
    outline:none;
}

span.ui-navigation-menu .menu-main li, 
span.ui-navigation-menu .menu-main li>label,
span.ui-navigation-menu .menu-main li button{
    cursor:pointer;
}

span.ui-navigation-menu ul>label {
    display: none;
}

.ui-view.feed-item, .ui-view.thin-layout-item, .ui-view.user-detail-item {
    min-height: 80px;
    border: 1px solid rgba(0,0,0,0.3);
    box-shadow: 0 0 2px rgba(0,0,0,0.1);
    margin: 5px;
}

.expandable.feed-item {
    cursor: pointer;
}
.expandable.feed-item:hover {
    box-shadow: 0 0 4px rgba(0,0,0,0.2);
}
active.expandable.feed-item:hover {
    box-shadow: 0 0 2px rgba(0,0,0,0.1);
}
.active.expandable.feed-item {
    cursor: default;
}


.feed-item.active .action-edit, .feed-item.active .action-delete {
    display: inline-block;
}

.feed-item .action-edit, .feed-item .action-delete {
    display: none;
}

.feed-item.active .action-delete.action-delete-disabled{
    display: none;
}


.ui-view.thin-layout-item, .ui-view.archived-item {
    height: 30px;
    min-height: 30px;
}


.field-value-module.feed-item-short-desc {
    display: none;
}

.feed-item-list .field-value-module.feed-item-short-desc{
    display:block;
    margin-top: 20px;
    height: 30px;
    text-indent: 10px;
    
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: calc( 100% - 40px );
}


.ui-view.thin-layout-item .btn-action, .ui-view.archived-item .btn-action, 
.ui-view.thin-layout-item .feed-item-short-desc, .ui-view.archived-item .feed-item-short-desc{
    display:none;
}
.ui-view.thin-layout-item.active .btn-action, .ui-view.archived-item.active .btn-action{
    display:inline-block;
}
.ui-view.thin-layout-item.active .feed-item-short-desc, .ui-view.archived-item.active .feed-item-short-desc{
    display:block;
}

.ui-view.thin-layout-item.active, .ui-view.archived-item.active {
    height: auto;
}

.ui-view.thin-layout-item .feed-item-icon, .ui-view.archived-item .feed-item-icon{
    height: 19px;
    width: 19px;
}

.ui-view.thin-layout-item .feed-item-tags, .ui-view.archived-item .feed-item-tags{
    display:none
}

.ui-view.thin-layout-item .feed-item-actions, .ui-view.archived-item .feed-item-actions{
    margin: 3px;
    margin-right: 5px;
}

.btn-action {
    cursor:pointer;
}
.ui-view.feed-item .btn-action.action-delete {
    background-color: rgba(0,0,0,0.1);
    margin-left: 25px;
}





.main-content-detail .ui-view.user-detail {
    position: absolute;
    width: 200px;
    left: 0;
}

.main-content-detail .ui-view.user-detail .user-icon, 
.main-content-detail .ui-view.user-detail .feed-item-label, 
.main-content-detail .ui-view.user-detail .feed-item-actions, 
.main-content-detail .ui-view.user-detail .html-content {
   display:none;
}

.main-content-detail .ui-view.user-detail .form-btn{
    margin-left:20px;
    position:relative;
}


.main-content-detail .ui-view.user-detail .form-btn:before {
    content: "";
    width: 25px;
    height: 25px;
    position: absolute;
    left: -20px;
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center;
    top: -1px;
}

.main-content-detail .ui-view.user-detail .form-btn.action-event:after, 
.main-content-detail .ui-view.user-detail .form-btn.action-project:after {
    content: "+";
    position: absolute;
    left: 2px;
    top: 4px;
    color: #1f53f5;
}

.main-content-detail .myprofile-feed-item .feed-item-icon {
    position: relative;
    top: -30px;
    left: 24px;
}


.ui-view.user-detail.top-right {
    position: absolute;
    top: 25px;
    right: 0;
    border-bottom: none;
    width: 330px;
    z-index: 1;
}

.field-value-module.notification-center {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 20px;
    left: -30px;
    z-index: 6;
    background-size: 100%;
}


.ui-view.user-detail.top-right .field-value-module.feed-item-label {
    position: absolute;
    top: 25px;
    left: 84px;
    width: 100%;
    white-space: nowrap;
    color:white;
}




.ui-view.user-detail.top-right .feed-item-icon.user-icon {
    height: 60px;
    width: 60px;
    margin: 0;
    border: 2px solid black;
    box-shadow: 0 0 6px rgba(0,0,0,0.8) inset;
    top: -3px;
    cursor:pointer;
}

.ui-view.user-detail.top-right button.btn-action {
    color: white;
    position: absolute;
    left: 84px;
}
.ui-view.user-detail.top-right button.btn-action.action-edit {
    left: 150px;
}


.ui-view.user-detail.top-right button.btn-action.action-login {
    display: inline-block;
    width: 187px;
    background: rgba(100, 149, 237,1);
    border-radius: 2px;
    color: black;
    top: 0px;
    left: 90px;
    border: 1px solid rgba(255,255,255,0.4);
    height: 50px;
    z-index: 2;
    font-size: 16px;
}

.ui-view.user-detail.top-right .ui-view.feed-item-expanded-detail {
    display: none;
}

.ui-view.user-detail.top-right .ui-view.feed-item-bottom-detail, 
.thin-layout-item .ui-view.feed-item-bottom-detail,
.connection-form .ui-view.feed-item-bottom-detail
{
    display: none;
}


.feed-item-label {
    display: inline-block;
    text-indent: 10px;
    line-height: 30px;
    font-size: 16px;
    font-weight: 100;
    position: relative;
    top: 10px;
}


.feed-item-label {
    
    max-width: calc( 100% - 75px );
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.ui-view.user-detail.top-right .field-value-module.count-posts {
    left: 40px;
    top: 40px;
    position: absolute;
    width: 20px;
    display: inline-block;
    color: black;
    overflow: visible;
}

.ui-view.thin-layout-item .feed-item-label, .ui-view.archived-item .feed-item-label{
    top: 0;
}

.feed-item-actions {
    display: inline-block;
    float: right;
    margin: 5px;
}



.WizardButton {
    list-style: none;
    display: inline-block;
}

.btn-tag, .form-btn, .WizardButton, .t-btn, .uilist-pageination button, .tutorial-content a.btn{
    border: 1px solid rgba(0,0,0,0.3);
    border-radius: 2px;
    margin: 2px;
    color: #555555;
    text-transform: capitalize;
    padding: 2px 7px;
    cursor:pointer;
}

.tutorial-content a.btn {
    background-color: white;
    color: black;
    margin-right: 5px;
    border-color: white;
    margin-top: 13px;
    display: inline-block;
    text-shadow: none;
}

.uilist-pageination button {
    background-color: #1f54f5;
    color: #eeeeee;
    margin-left: 5px;
}
.uilist-pageination:after {
    content: attr(data-list-count);
    color: #1f54f5;
}

.form-btn, .WizardButton {
    background-color: #1f54f5;
    color: #eeeeee;
}

.form-btn:hover, .WizardButton:hover {
    color: white;
}

.alert-view .field-value-module, .confirm-view .field-value-module {
    font-size: 20px;
    font-weight: 100;
    whitespace:nowrap;
}

.alert-view .btn.cancel {
    display: none;
}



.form-nav .btn {
    padding: 5px 10px;
    float: right;
    margin-top:24px;
     margin-bottom:24px;
}

.ui-view.feed-item>.ui-template>.template-content {
    display: block;
}


.ui-view.feed-item-expanded-detail {
    height: 0;
    overflow: hidden;
    opacity: 0;
    transition: height 0.2s, opacity 0.5s;
}

.active.feed-item .ui-view.feed-item-expanded-detail {
    background-color: rgba(0,0,0,0.1);
    min-height: 300px;
    position: relative;
    transition: height 0.5s, opacity 0.5s;
    opacity: 1.0;
    overflow: visible;
    display: inline-table;
}

.ui-view.feed-item-expanded-detail {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}


.ui-view.feed-item-expanded-detail {
    text-align: center;
    vertical-align: middle;
    
    font-size: 16px;
    font-weight: 100;
    color: #333333;
}

.user-detail .active.feed-item .ui-view.feed-item-expanded-detail {
    text-align:left;
    height: auto;
}


.active.myprofile-feed-item .ui-view.feed-item-expanded-detail {
    text-align: right;
    background-color: transparent;
}

.myprofile-feed-item .ui-view.feed-item-expanded-detail button {
    padding: 5px 10px;
    border: none;
    background-color: transparent;
    color: #555555;
    top: -20px;
}


.btn-tag:hover, .form-btn:hover, .WizardButton:hover, span.ui-navigation-menu .menu-main li:hover {
    box-shadow: 0 0 3px rgba(0,0,0,0.3);
}

.myprofile-feed-item .ui-view.feed-item-expanded-detail button:hover {
   box-shadow: none;
   color:#1f54f5;
}

.myprofile-feed-item .ui-view.feed-item-expanded-detail:after{
    content:none;
    
}

.ui-view.feed-item {
    background-color: white;
}

.user-detail .ui-view.myprofile-feed-item {
    border: none;
    box-shadow: none;
    border-left: none;
    background-color: transparent;
}


.ui-view.feed-item-expanded-detail:after {
    content: "";
    position: absolute;
    width: 7px;
    height: 100%;
    background: rgba(0,0,0,0.5);
    z-index: 1;
    left: -7px;
    top: 0;
}

.array-module.feed-item-list {
    
    /*single, pinned, and archive view detail*/
    
    width: 100%;
    max-width: 1200px;
    margin: auto;
}



.feed-item-list .ui-view.feed-item {
    border-left-width:40px;
}

.feed-item-list .ui-view.feed-item-expanded-detail:after {
    width:40px;
    left:-40px;
}

.feed-item-list button.btn-action.action-pin, .feed-item-list button.btn-action.action-archive,
.feed-item-list button.btn-action.action-unpin, .feed-item-list button.btn-action.action-unarchive{
    position: absolute;
    left: -33px;
    top: 10px;
}


.feed-item-list button.btn-action.action-unpin{
        
    transform: rotate(-45deg);
        
}



.feed-item-list button.btn-action.action-archive,
.feed-item-list button.btn-action.action-unarchive{
    top: 46px;
}

.feed-item-icon{
    width: 40px;
    height: 40px;
    display: inline-block;
    background: rgba(0,0,0,0.1);
    margin: 6px;
    float: left;
    border-radius: 100%;
    position:relative;
}


.section-item-icon {
    text-align: left;
    line-height: 30px;
}
.section-item-icon:after {
    content:"";
    width: 20px;
    height: 20px;
    float:left;
    background: rgba(0,0,0,0.1);
    border-radius: 100%;
    margin: 6px;
}


.empty-thin-layout-item.field-value-module {
    border: 1px dashed rgba(0,0,0,0.3);
    box-shadow: 0 0 4px rgba(0,0,0,0.2);
    margin: 5px;
    padding: 10px;
}

.feed-item-list .thin-layout-item.feed-item {
    border-left-width: 7px;
}



.calendar {
    border-left: 1px solid rgba(0,0,0,0.1);
    margin-left: 15px;
    padding-left: 15px;
}

.ui-view.feed-item.expandable .feed-item-actions {
    margin-right: 50px;
}

button.btn-action.action-focus {
    padding: 0;
    width: 0;
}


.ui-view.feed-item.expandable.active .action-focus:after {
    transform: rotate(180deg);
    transition: transform 1.5s;
}


.ui-view.feed-item.expandable .action-focus:after {
    content: "▼";
    color: #666666;
    height: 20px;
    width: 20px;
    display: inline-block;
    text-align: center;
    line-height: 24px;
    border-radius: 100%;
    vertical-align: top;
    margin: 2px;
    background: rgba(0,0,0,0.1);
    position: absolute;
    right: 4px;
    transition: transform 0.5s;
}


.feed-item.inset-layout-item {
    margin-left: 45px;
}

.feed-item.inset-layout-item:after {
    content: "↳";
    color: #6495ed;
    height: 20px;
    width: 20px;
    position: absolute;
    left: -35px;
    top: 6px;
}

.feed-item.parent-layout-item {
    
}

.feed-item.parent-layout-item:after {
    content: "⤴";
    position: absolute;
    left: -20px;
    bottom: -15px;
    color: #6495ed;
    transform: rotate(135deg);
}


.sso-btn {
    display: inline-block;
    margin: 5px;
    vertical-align: top;
}


.add-photo .text-input {
    display: none;
}



.text-input[readonly] {
    background-color: #f0f0f0;
    font-style: italic;
    color: darkgray;
}

.feed-item-icon.user-icon {
    background-size: cover;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
}


.item-author .feed-item-icon.user-icon {
    display: inline-block;
    float: none;
    height: 18px;
    width: 18px;
    vertical-align: bottom;
        background-image: url("https://cuhub.geolive.ca/components/com_geolive/users_files/user_files_528/Uploads/f7_[ImAgE]_tO1_OlO_[G].png?tint=rgb(112, 128, 144)");
}

.feed-item-icon>.feed-item-icon {float: none;left: 100%;top: -6px;background-color: transparent;}

.feed-item-icon.user-icon.connection-icon {
    margin-right: 40px;
}



span.item-connection-to {
    color: #577f57;
}
span.item-connection-to:before {
    content: " to";
}



span.item-author{
    z-index: 1;
    position: relative;
    cursor: pointer;
}

span.item-author {
    padding: 2px;
    margin: 0 3px;
    background-color: transparent;
    border-radius: 2px;
}
span.item-author:hover {
    background-color: rgba(0,0,0,0.1);
}

span.item-author:hover {
    color: #47515a;
}

span.item-author:before {
    content: " created by";
}
.post-author span.item-author:before {
    display: "none";
}

.private-chat span.item-author:before {
    content: "discussion with";
}
.private-chat span.item-author{
    line-height:30px;
    margin-left: 10px;
}
span.item-author, 
span.date-from-now, 
span.item-connection-to:before, 
span.event-date-from-now, 
.ui-post-view .date-from-now,
.ui-post-view .post-author
{
    color: slategrey;
    font-style: italic;
    font-size: 13px;
}

.intro-text span.item-author {
    font-size: inherit;
}
.intro-text .feed-item-icon.user-icon {
    vertical-align: middle;
}

.ui-post-view .date-from-now,
.ui-post-view .post-author{
    text-align: right;
}

.ui-post-view .date-from-now .field-label,
.ui-post-view .post-author .field-label{
    margin-right: 5px;
}

span.event-date-from-now {
    color: #b03b3c;
}


.your-profile-label {
    overflow: visible;
    cursor: pointer;
}
.your-profile-label .item-author{
    
    position: absolute;
    left: 0px;
    top: 18px;
}
.your-profile-label .item-author:hover, .your-profile-label:hover .item-author{
    color: #00d400;
}
.your-profile-label .item-author:before{
    content:"go to"
}



.btn-action {
    border: none;
    border-radius: 100%;
    margin: 2px;
    background-color: #00d8ff;
    
    height: 26px;
    width: 26px;
  
    background-size: 60% auto;
    background-position: center;
    background-repeat: no-repeat;
}


.ui-view.myprofile-feed-item .btn-action{
    background:none;
}
.ui-view.myprofile-feed-item .btn-action.action-edit:after {
    content: "Edit Your Profile";

    white-space: nowrap;

}
.ui-view.myprofile-feed-item .btn-action.action-logout:after {
    content: "Log Out";
    white-space: nowrap;

}
.ui-view.myprofile-feed-item .btn-action.action-login:after {
    content: "Log In";

    white-space: nowrap;

}



.connection-feed-items-list .feed-item-actions {
    display: none;
}
.connection-feed-items-list .feed-item-tags {
    display: none;
}
.connection-feed-items-list{
    margin-bottom:15px
}
.connection-feed-items-list>.ui-view{
    background-color: rgba(0,0,0,0.1);
    margin: 5px 0;
    border-radius: 3px;
    height: 50px;
}

.connection-feed-items-list .feed-item-expanded-detail{
    display:none;
}


button.clear-filter.form-btn {
    width: 100px;
}



.feed-item-list .active .ui-view.feed-item-expanded-detail {
    text-align: left;
    padding: 24px;
}

span.noIcon {
    width: 25px;
    height: 25px;
    display: inline-block;
    float: right;
    background-size: 68%;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 0 0 3px rgba(0,0,0,0.4);
    border: 1px solid #1f54f5;
    margin: 3px;
    border-radius: 100%;
    margin-top: 15px;
}

.ToolbarBottom {
    height: 35px;
    margin: 10px 0;
}

.ToolbarBottom .droppable {
    height: 35px;
}


body.dragover .empty.droppable:after, .empty.droppable:after {
    content: "drag files here...";
    line-height: 35px;
    color: cornflowerblue;
    font-style: italic;
    top: 0;
}


body.dragover .add-photo .empty.droppable:after, .add-photo .empty.droppable:after {
    content: "drag photo here...";
}

.no-media .ToolbarBottom, .no-media .media-bar {
    display: none;
}

.form-btn.action-user {
    color: white;
}

.action-contact.action-user.action-for-Profile {
    float: left;
    margin: 10px 0;
    color: white;
}

.form-btn.action-user:hover {
    color: black;
}


.add-photo span.noIcon {
    display: none;
}

.add-photo span.noIcon.image {
    display: inline-block;
}


.uitext-container.col-2 {
    width: calc( 50% - 10px );
    display: inline-block;
}






.module-wizard.project-form:after, 
.module-wizard.event-form:after, 
.module-wizard.connection-form:after, 
.module-wizard.request-form:after, 
.module-wizard.profile-form:after,
.module-wizard.resource-form:after {
    content: "";
    width: 100px;
    height: 100px;
    position: absolute;
    background-color: white;
    display: inline-block;
    border-radius:100%;
    top: -60px;
    z-index: 1;
    left: calc( 50% - 52px );
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%;
}

.module-wizard.project-form:before, 
.module-wizard.event-form:before, 
.module-wizard.connection-form:before, 
.module-wizard.request-form:before, 
.module-wizard.profile-form:before,
.module-wizard.resource-form:before {
    content: "";
    position: absolute;
    top: -1px;
    left: 0;
    height: 28px;
    width: 100%;
    z-index: 1;
}



.media-item {
    display: inline-block;
    position: relative;
}

.media-selection .media-item {
    background-color: rgba(0,0,0,0.1);
    margin-right: 15px;
    padding: 1px 5px;
    border-radius: 2px;
}

.media-item span.remove-btn {
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: white;
    box-shadow: 0 0 3px rgba(0,0,0,0.1);
    display: inline-block;
    border: 1px solid rgba(0,0,0,0.6);
    border-radius: 100%;
    line-height: 10px;
    top: -6px;
    right: -7px;
    cursor: pointer;
}

.media-item span.remove-btn:after {
    content: "+";
    position: absolute;
    height: 100%;
    width: 100%;
    text-align: center;
    top: 0;
    left: 0;
    line-height: 13px;
    color: #555555;
    transform: rotate(45deg);
    font-size: 20px;
}

.media-item span.remove-btn:hover {
    border-color: black;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
}



.calendar span.events {
    position:absolute;
    display: inline-block;
    width: 100%;
    bottom: 0px;
    left: 0;
    text-align: center;
}

.calendar span.events .event-data {
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: rgba(0,0,0,0.5);
    margin:1px;
    border-radius:100%;
}

.event-feed-item .feed-item-icon:after {
    content: attr(data-event-day);
    position: absolute;
    top: 16px;
    left: 10px;
    width: 20px;
    text-align: center;
    display: inline-block;
}

.thin-layout-item.event-feed-item .feed-item-icon:after {
    left: 1px;
    top: 7px;
    font-size: 7px;
}



.discussion .posts.empty:after {
    line-height: 100px;
}

.discussion .posts.empty {
    min-height: 100px;
}

.ui-post-view {
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.1);
    margin: 2px;
    border-radius: 3px;
}


input.discussion-textbox, input.search-input {
    height: 30px;
    line-height: 10px;
    padding: 5px 15px;
    font-size: 14px;
    font-weight: 100;
    border-radius: 3px;
    border: 1px solid rgba(0,0,0,0.3);
    width: calc(100% - 150px);
    box-shadow: 0 0 3px rgba(0,0,0,0.2) inset;
}
input.discussion-textbox {
    width: calc( 100% - 220px );
}

.discussion>.toolbar-icons {
    top: calc( 100% - 51px );
}

.discussion>.toolbar-icons button {
    vertical-align: top;
    height: 42px;
    margin: 0 3px;
    padding: 0 14px;
}

.count-posts.has-posts {
    overflow: visible;
    display: inline-block;
    vertical-align: top;
    text-align: left;
}

.count-posts .field-value {
 
    color: slategrey;
    font-style: italic;
    font-size: 13px;
  
}

.count-posts.has-new-posts .field-value:after {
    display: inline-block;
    content: attr(data-posts-new);
    width: 20px;
    height: 17px;
    background-size: auto 100%;
    color: black;
    font-size: 10px;
    background-position: center;
    background-repeat: no-repeat;
    margin-left: 4px;
    position: relative;
    top: -2px;
    line-height: 17px;
    text-align: center;
    text-indent: 0;
}

.field-value-module.link-to-item:before {
    content: "";
    width: 20px;
    height: 20px;
    position: absolute;
    left: -33px;
    background-size: 60% auto;
    margin: 2px;
    background-position: center;
    background-repeat: no-repeat;
    bottom: 10px;
    z-index: 2;
}

.field-value-module.link-to-item:after {
    content: "";
    width: 20px;
    height: 20px;
    background-size: 60% auto;
    background-position: center;
    background-repeat: no-repeat;
    display:inline-block;
    vertical-align: bottom;
    margin-left: 5px;
}


span.search-container {
    position: absolute;
    top: 109px;
    right: 0;
    width: 600px;
}

.search-bar-content {
    margin: 40px 0;
}

input.search-input {
    width: calc(100% - 120px);
    border-color: rgba(0,0,0,0.3);
    z-index: 2;
    border-radius: 1px;
}
input.search-input:focus {
    box-shadow: 0 0 3px rgba(0,0,0,0.2) inset, 0 0 3px rgba(6, 134, 180, 0.5);
    outline: none;
    border-color: rgb(6, 134, 180);
}

span.search-bar-btn.search {
    display: none;
}

span.search-container input.search-input{
    display:none;
}
span.search-container.active input.search-input{
    display:inline-block;
}

span.search-container.active {
    right: calc( 50% - 300px );
    transition: right 0.5s;
}


span.search-bar-btn.search-toggle {
    cursor: pointer;
    height: 40px;
    width: 40px;
    float: left;
}

span.search-bar-btn.search-toggle>span{
    display:none;
}


.tag-cloud {
    margin: 20px 0;
    text-align: center;
}

.tag-cloud .btn-tag {
    display: inline-block;
    background: rgba(0,0,0,0.1);
}

.tag-cloud .btn-tag.active {
    background-color: white;
}



.search-container {
    
}


.search-result-list span.result-clickable {
    height: auto;
    background-color: #e0e0e0;
}

.search-container .search-result-list:before {
    position: fixed;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,0.4);
    content: "";
    left: 0;
    top: 0;
    z-index: -1;
}


.discussion>.toolbar-icons button.add_attachment {
    position: relative;
}


.main-content-detail .ui-view.user-detail .form-btn.action-connection {
    display: none;
}

.disabled.form-btn.action-connection {
    border-color: transparent;
    color: #888888;
}


label.item-type-label {
    position: absolute;
    right: 10px;
    top: 5px;
    text-transform: capitalize;
    color: #cecece;
    font-size: 50px;
    font-weight: 100;
}


ul.ShareLinksModule{
    float:right;
}

.share-links img {
    vertical-align:middle;
}


li.menu-main-feeditems:after {
    display: none;
}

span.ui-navigation-menu .menu-main li button.menu-main-feeditems {
    display: none;
}

span.ui-navigation-menu .menu-main li.menu-main-feeditems{
    height: 50px;

    background-color: #1f54f5;
    border: 1px solid rgba(0,0,0,0.3);
    box-shadow: 0 0 3px rgba(0,0,0,0.3);
    padding:10px;

}
span.ui-navigation-menu .menu-main li.menu-main-feeditems.active{
    background-color:transparent;
    box-shadow: 0 0 3px rgba(255,255,255,0.3);
}

span.ui-navigation-menu .menu-main li.menu-main-feeditems label{
    color:white;
}
span.ui-navigation-menu .menu-main li.menu-main-feeditems.active label{
    color:grey  ;
}


span.ui-navigation-menu .menu-main li.menu-main-feeditems.create-new {
    background-color: #00d200;
    position:absolute;
    top: -108px;
}

span.ui-navigation-menu .menu-main li.menu-main-feeditems.create-new label {
    color: black;
    font-size: 16px;
}


span.ui-navigation-menu .menu-main li.menu-main-feeditems.create-resource {
    background-color: rgba(88, 128, 88, 1);
    position: absolute;
    top: -100px;
    left: 250px;
    width: 135px;
    height: 35px;
    padding: 2px;
}
span.ui-navigation-menu .menu-main li.menu-main-feeditems.create-resource label {
    color: black;
    font-size: 16px;
}





.right-detail .tag-cloud span.tag-el {
    display: block;
    text-align: left;
    border: none;
    background: none;
    text-indent: 40px;
}


.ui-view.left-detail {
    float: left;
    display: inline-block;
    width: 0;
    height: 0;
    position: relative;
    z-index:1;
}

.ui-view.left-detail>div {
    display: inline-block;
    width: 200px;
    margin: 20px;
}


.ui-view.right-detail {
    float: right;
    display: inline-block;
    width: 0;
    height: 0;
    position: relative;
    z-index:1;
}

.ui-view.right-detail>div {
    display: inline-block;
    width: 200px;
    margin: 20px;
    
    
    position: absolute;
    left: -200px;    
    
    
}

.ui-view.left-detail {
    position: fixed;
}

.ui-view.right-detail {
    position: fixed;
    right: 0;
}



.right-detail .share-links {
    position: relative;
    margin-top: 100px;
    right: 60px;
}
.right-detail .share-links li{
    display:block;
    margin-bottom:10px;
}


.added-pin, .removed-pin {
    position: absolute;
    width: 30px;
    height: 30px;
    background: limegreen;
    border-radius: 100%;
    left: -35px;
    transition: top linear 0.5s, opacity linear 0.5s;
    opacity: 1;
    top: 10px;
}

.removed-pin {
      background: gray;
}

.added-pin:after, .removed-pin:after {
    content: "Pinned an item";
    color: limegreen;
    position: relative;
    left: 35px;
    white-space: nowrap;
}

.removed-pin:after {
     content: "Unpinned an item";
     color: gray;
}

.added-pin:after, .removed-pin:after {
    content: attr(data-label);
}

.pinned-label:before {
    content: attr(data-count-pins);
    color: white;
    position: absolute;
    left: 11px;
    width: 30px;
    text-align: center;
}




.right-detail .tag-cloud span.tag-el.active {
    background-color: white;
    box-shadow: 0 0 3px rgba(0,0,0,0.3);
    
}

.right-detail .tag-cloud span.tag-el.active:after, .intro-text .btn-tag:after {
    content: "+";
    float: left;
    transform: rotate(45deg);
    position: relative;
    top: -28px;
    left: -25px;
    display: inline-block;
    width: 10px;
    font-size: 18px;
    color: slategray;
}

.intro-text .btn-tag:after {
    float: left;
    position: relative;
    top: -3px;
    height: 10px;
    width: 10px;
    left: 0;
}

.right-detail .tag-cloud span.tag-el{
    border: 1px solid transparent;
    border-radius:2px
}
.right-detail .tag-cloud span.tag-el:hover {

    border: 1px solid rgba(0,0,0,0.3);
    box-shadow: 0 0 3px rgba(0,0,0,0.3);
    color:white;
}
.right-detail .tag-cloud span.tag-el.active:hover {
    color:black;
}






/*end*/