@media screen and (max-width: 1600px){

    .ui-view.user-detail.top-right .myprofile-feed-item>div>div>* {
        /*display: none;*/
    }
    .ui-view.user-detail.top-right .myprofile-feed-item>div>div>.feed-item-icon.user-icon{
        display:inline-block;
    }

    
    .ui-view.user-detail.top-right{
            /*right: 0;
            width: 100px;*/
     }

}

@media screen and (max-width: 1500px){

    h1.site-logo{
        /*font-size:0;*/
    }
    
    .no-banner ul.menu-main {
        /* text-align:left;
        left:0; */
    }
    
    
   .ui-view.main-content-detail {
       max-width: calc( 100% - 600px );
   }
    
    
    
    
}

/*@media screen and (max-width: 1600px){ */

    
    
    .ui-view.user-detail.top-right{
        /*left: 125px;
        right:auto;*/
    }
    
    
    
    
    
    span.ui-navigation-menu ul.menu-main li:after {
        top: 10px;
        height: 25px;
        width: 25px;
        left: 6px;
    }
    
    span.ui-navigation-menu .menu-main li button {
        margin-top: 0;
        text-align: left;
        padding: 0;
        text-indent: 36px;
        text-overflow: ellipsis;
        overflow: hidden;
    }
    
    span.ui-navigation-menu .menu-main li{
        height: 50px;
       /* margin-top: 65px;*/
        padding:0;
        /*background-color: #1f54f5;*/
        border: 1px solid rgba(0,0,0,0.3);
        box-shadow: 0 0 3px rgba(0,0,0,0.3);
        
    
    }
 
    span.ui-navigation-menu .menu-main li.active{
        background-color:transparent;
        box-shadow: 0 0 3px rgba(255,255,255,0.3);
    }
    
    span.ui-navigation-menu .menu-main li label{
        color: slategray;
        /*padding:0 30px;*/
    }
    span.ui-navigation-menu .menu-main li.active label{
        color: slategray;
    }

    
    
    
    
/*}*/

@media screen and (max-width: 1000px){
    
    
    
    span.ui-navigation-menu .menu-main li {
        font-size: 15px;
        box-shadow: none;
        background-color: transparent;
        border-color: transparent;
    }
    
    span.ui-navigation-menu ul li button{
            background-color: transparent;
            border: none;
            padding: 0;
    }
    
    .ui-view.main-view>.ui-template>.template-content>.ui-view.right-detail {
        width: 70px;
        min-width: 70px;
        max-width: 70px;
    }
    .ui-view.main-view>.ui-template>.template-content>.ui-view.right-detail .ui-view {
        display:none;
    }
    .ui-view.main-view>.ui-template>.template-content>.ui-view.right-detail .section-item-icon .field-label{
        white-space: normal;
        width: 70px;
    }
    
    .ui-view.main-content-detail {
        padding-left:70px;
    }
    .main-content-detail .ui-view.user-detail{
        width: 70px;
    }
    
    .ui-view.feed-item-list {
        margin-left: -50px;
        margin-right: -90px;
    }
    
}

@media screen and (max-width: 850px){
    
    
    
    span.ui-navigation-menu .menu-main li button {
        
    }
    
    .search-bar-btn.search {
        color: transparent;
    }
}


@media screen and (max-width: 600px){
    
 
    span.ui-navigation-menu .menu-main li{
        margin-top:10px;
    }
    .ui-view.main-view {
        padding-top: 200px;
    }
    
    .search-container {
        display: none;
    }
    
    
}