@media screen and (max-width: 1600px){

    .ui-view.user-detail.top-right .myprofile-feed-item>div>div>* {
        display: none;
    }
    .ui-view.user-detail.top-right .myprofile-feed-item>div>div>.feed-item-icon.user-icon{
        display:inline-block;
    }

    
    .ui-view.user-detail.top-right{
            right: 0;
            width: 100px;
     }

}

@media screen and (max-width: 1500px){

    h1.site-logo{
        font-size:0;
    }
    
    .no-banner ul.menu-main {
        text-align:left;
        left:0;
    }
    
    
    
    
}

@media screen and (max-width: 1250px){

    
    
    .ui-view.user-detail.top-right{
        left: 125px;
        right:auto;
    }
}

@media screen and (max-width: 1000px){
    
    
    
    span.ui-navigation-menu .menu-main li {
        width: 150px;
        font-size: 15px;
    }
    
    
    
}