@media screen and (max-width: 1000px){
    
    
    
    span.ui-navigation-menu .menu-main li {
        width: 150px;
        font-size: 15px;
    }
    
    
    
}

@media screen and (max-width: 1500px){

    h1.site-logo{
        font-size:0;
    }
}